In [14]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
from plotly.offline import plot

### WNBA Salary Data Webscraping
**100 highest paid players for 2020** <br>
*(data from spotrac.com)*

In [23]:
URL = 'https://www.spotrac.com/wnba/rankings/average/'
page = requests.get(URL).text
soup = BeautifulSoup(page, 'lxml')

names= []
for name in soup.find_all('a', class_= 'team-name'):
  names.append(name.get_text())

teams=[]
for team in soup.find_all('div', class_= 'rank-position'):
  teams.append(team.get_text())

avg_salaries=[]
for salaries in soup.find_all('span', class_= 'info'):
  avg_salaries.append(salaries.get_text())

pos= []
pos2= []
for p in soup.find_all('td', class_= 'center small'):
  pos.append(p.get_text())
  
for i in pos:
    j = i.replace(' ','').replace('\n', '')
    pos2.append(j)
pos2[136] = 'F'

age= []
for v in pos2:
    if len(v) % 2 == 0:
        age.append(v)
        
positions= []
for v in pos2:
    if len(v) % 2 != 0:
        positions.append(v)

wnba= 'WNBA'

wnba_salaries = pd.DataFrame(
    {'Player': names,
     'League': wnba,
     'Team': teams,
     'Position': positions,
     'Age': age,
     'Avg_Salary': avg_salaries
    })
wnba_salaries

                  Player League   Team Position Age  Avg_Salary
0         DeWanna Bonner   WNBA    CON        F  33  $224,870
1   Skylar Diggins-Smith   WNBA    PHX        G  30  $224,870
2      Elena Delle Donne   WNBA    WAS        F  31  $224,870
3          Diana Taurasi   WNBA    PHX        G  38  $224,772
4         Natasha Howard   WNBA     NY        F  29  $224,675
..                   ...    ...    ...      ...  ..         ...
95         Alexis Prince   WNBA    CHI        G  27   $70,040
96      Seimone Augustus   WNBA     LA        G  36   $70,040
97            Nia Coffey   WNBA     LA        F  25   $70,040
98           Bria Holmes   WNBA     LA        G  27   $70,040
99       Marine Johannes   WNBA     NY        G  26   $69,020

[100 rows x 6 columns]

### NBA Salary Data Webscraping
**100 highest paid players for 2020** <br>
*(data from spotrac.com)*

In [24]:
URL = 'https://www.spotrac.com/nba/rankings/average/'
page = requests.get(URL).text
soup = BeautifulSoup(page, 'lxml')

men_names= []
for name in soup.find_all('a', class_= 'team-name'):
  men_names.append(name.get_text())

men_teams=[]
for team in soup.find_all('div', class_= 'rank-position'):
  men_teams.append(team.get_text())

men_avg_salaries=[]
for salaries in soup.find_all('span', class_= 'info'):
  men_avg_salaries.append(salaries.get_text())

men_age= []
for a in soup.find_all('td', class_= 'center xs-hide'):
  men_age.append(a.get_text())

men_pos= []
men_pos2= []
for p in soup.find_all('td', class_= 'center', ):
  men_pos.append(p.get_text())

for i in men_pos:
    j = i.replace(' ','').replace('\n', '')
    men_pos2.append(j)

digits= []
men_positions= []
for ps in men_pos2:
  if ps.isdigit():
    digits.append(ps)
  elif ps== '':
    digits.append(ps)
  else:
    men_positions.append(ps)

nba= 'NBA'

nba_salaries = pd.DataFrame(
    {'Player': men_names,
     'League' : nba,
     'Team': men_teams,
     'Position': men_positions,
     'Age': men_age,
     'Avg_Salary': men_avg_salaries
    })
nba_salaries

               Player League   Team Position   Age     Avg_Salary
0           John Wall    NBA    HOU       PG   30   $42,782,880
1        James Harden    NBA    BKN       SG   31   $42,782,880
2   Russell Westbrook    NBA    WAS       PG   31   $41,358,814
3        Kevin Durant    NBA    BKN       SF   32   $41,063,925
4       Stephen Curry    NBA    GSW       PG   32   $40,231,758
..                ...    ...    ...      ...   ...            ...
95       Kelly Olynyk    NBA    HOU       PF   29   $12,500,000
96       Trevor Ariza    NBA    MIA       SF   35   $12,500,000
97        Cory Joseph    NBA    DET       PG   29   $12,400,000
98       Jusuf Nurkic    NBA    POR        C   26   $12,000,000
99      Patrick Mills    NBA    SAS       PG   32   $12,000,000

[100 rows x 6 columns]

### NBA Stats Data Webscraping
**Per-game avgs for 2020-21 season** <br>
*(data from basketballreference.com)*

In [25]:
url = 'https://www.basketball-reference.com/leagues/NBA_2021_per_game.html'
html_doc = requests.get(url)

#parse the html from site:
parsed_html = BeautifulSoup(html_doc.content, 'html.parser')

#extract specific table we are interested in (per-game stats for each player):
table = parsed_html.find(id='per_game_stats')

##Header:
#Locate the table header, extract header values, and store in list:
table_header = table.find('thead') #html 'thead' element contains all header-related data
header_elements = table_header.find_all('th') #store all 'th' (header) elements from 'thead' element 

headers = [] #initialize empty list to later store headers
for header in header_elements:
    item = header.get_text().strip() #extract each header value (text)
    headers.append(item) #append each header value to list
headers


##Body:
#Locate table body, extract data values, and store in list:
table_body = table.find('tbody') #html 'tbody' element contains all body-related data
body_rows = table_body.find_all('tr') #store all 'tr' (row) elements from 'tbody' element 

rows = [] #initialize empty list to later store data rows
for row in body_rows:
    row_header = row.find('th').get_text() #extract the row's header (season)
    items = row.find_all('td') #extract data values from row
    row = [row_header] #initialize list  w/ row header
    for item in items: #iterate through the values of the row and store each in row list
        row.append(item.get_text())
    rows.append(row)
    

nba_stats = pd.DataFrame(rows, columns = headers) 

#Some players (who switched teams mid-year) are duplicated - have a total record and 
#individual records for each team they played for that year.
#Need to delete these duplicated records and include only the "total" entries
nba_stats = nba_stats.drop_duplicates(['Player'])
nba_stats = nba_stats.drop(columns= ['Rk', 'Pos', 'Age', 'Tm', 'eFG%'])


#Replace accented letters to english equivalent for merging with salary data (where there are no accents)
nba_stats['Player'] = nba_stats['Player'].str.replace(
    u'ć', 'c').str.replace(u'Š', 'S').str.replace(u'č', 'c').str.replace(u'ā', 'a').str.replace(u'ģ', 'g').str.replace(u'ņ', 'n').str.replace(u'ū', 'u')

nba_stats

,Player,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Precious Achiuwa,55,3,12.4,2.0,3.8,.541,0.0,0.0,,...,.515,1.3,2.3,3.6,0.5,0.3,0.5,0.7,1.6,5.0
1,Jaylen Adams,7,0,2.6,0.1,1.1,.125,0.0,0.3,.000,...,,0.0,0.4,0.4,0.3,0.0,0.0,0.0,0.1,0.3
2,Steven Adams,56,56,28.0,3.4,5.4,.620,0.0,0.1,.000,...,.444,3.8,5.2,9.0,1.9,0.9,0.7,1.4,2.0,7.8
3,Bam Adebayo,54,54,33.5,7.2,12.7,.566,0.0,0.1,.250,...,.803,2.3,6.9,9.1,5.3,1.1,1.1,2.7,2.2,19.1
4,LaMarcus Aldridge,26,23,25.9,5.4,11.4,.473,1.2,3.1,.388,...,.872,0.7,3.8,4.5,1.9,0.4,1.1,1.0,1.8,13.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,Delon Wright,51,31,26.8,3.5,7.5,.460,0.9,2.4,.366,...,.812,0.9,3.1,4.0,4.2,1.5,0.4,1.1,1.1,9.6
703,Thaddeus Young,56,17,24.0,5.5,9.6,.578,0.2,0.6,.278,...,.635,2.4,3.7,6.1,4.1,1.1,0.6,2.0,2.4,12.2
704,Trae Young,54,54,34.2,7.6,17.8,.429,2.3,6.4,.357,...,.874,0.6,3.3,3.9,9.6,0.9,0.2,4.2,1.9,25.3
705,Cody Zeller,38,20,21.0,3.6,6.7,.542,0.1,0.7,.120,...,.741,2.6,4.3,6.9,1.9,0.6,0.4,1.1,2.4,8.9
706,Ivica Zubac,62,23,22.4,3.6,5.6,.644,0.0,0.0,.000,...,.786,2.7,4.6,7.3,1.2,0.4,0.9,1.1,2.6,9.2

### WNBA Stats data upload (CSV)
**Per-game avgs for 2020 season** <br>
*(data from basketballreference.com)*

In [26]:
wnba_stats = pd.read_csv('/Users/allie/Documents/cs5010/wnba_stats.csv') #Does not have DREB columns (must create)

#Delete the duplicated records and include only the "total" entries for players that were on multiple teams that year
wnba_stats = wnba_stats.drop_duplicates(['Player'])
wnba_stats = wnba_stats.drop(columns= ['Team', 'Pos', 'G.1', 'MP.1'])
wnba_stats['DRB'] = wnba_stats['TRB'] - wnba_stats['ORB']

#Replace accented letters to english equivalent for merging with salary data (where there are no accents)
wnba_stats['Player'] = wnba_stats['Player'].str.replace(
    u'ć', 'c').str.replace(u'Š', 'S').str.replace(u'č', 'c').str.replace(u'ā', 'a').str.replace(u'ģ', 'g').str.replace(u'ņ', 'n').str.replace(u'ū', 'u')

wnba_stats

,Player,G,MP,GS,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,PTS,DRB
0,Natalie Achonwa,18,364,11,3.2,6.4,0.496,0.0,0.6,0.000,...,0.813,1.4,5.5,1.7,0.5,0.6,1.8,2.6,7.8,4.1
1,Jaylyn Agnew,12,71,0,0.3,1.3,0.267,0.3,1.1,0.231,...,0.800,0.0,0.4,0.3,0.0,0.0,0.4,0.6,1.3,0.4
2,Bella Alarie,22,309,3,1.1,3.0,0.364,0.0,0.6,0.077,...,0.833,1.0,2.9,0.5,0.6,0.8,0.5,1.6,2.7,1.9
3,Kayla Alexander,16,89,0,1.0,1.9,0.533,0.0,0.0,NaN,...,0.625,0.6,0.9,0.2,0.1,0.2,0.4,0.9,2.3,0.3
4,Julie Allemand,22,716,22,2.8,6.1,0.455,2.0,4.2,0.478,...,0.733,0.4,4.5,5.8,1.1,0.4,2.6,2.6,8.5,4.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,Alisia Jenkins,5,28,0,0.4,1.6,0.250,0.0,0.6,0.000,...,0.667,0.0,0.8,0.0,0.0,0.0,0.6,0.6,1.6,0.8
141,Stella Johnson,9,100,2,1.8,3.8,0.471,1.0,1.6,0.643,...,1.000,0.4,1.3,1.3,0.7,0.2,0.4,1.2,5.1,0.9
142,Stephanie Mavunga,10,95,0,1.3,2.9,0.448,0.0,0.5,0.000,...,0.818,1.0,3.3,0.5,0.1,0.2,1.1,1.1,3.5,2.3
143,Erica McCall,20,183,0,0.8,2.3,0.356,0.1,0.2,0.250,...,0.818,1.2,2.5,0.2,0.4,0.4,0.5,1.2,2.6,1.3
144,Shey Peddy,17,257,0,1.1,3.7,0.302,0.2,2.0,0.118,...,1.000,0.5,2.1,1.8,1.1,0.1,0.9,1.3,3.8,1.6

## Combine Stats and Salary Data for NBA 
**Key = "Player**

In [27]:
nba_df = pd.merge(nba_stats, nba_salaries, on= 'Player')
nba_df['Position'] = nba_df['Position'].replace('PF','F', regex=True).replace('SF','F', regex=True)
nba_df['Position'] = nba_df['Position'].replace('PG','G', regex=True).replace('SG','G', regex=True)

nba_df['salary_float'] = nba_df['Avg_Salary'].str.strip('$').replace(',','', regex=True).astype(float) #create column of salaries as float values
nba_revenue = float(7400000000)
nba_df['salary_ratio'] = nba_df['salary_float']/nba_revenue
nba_df['salary_ratio'] = nba_df['salary_ratio'].round(5)
nba_df

,Player,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,...,TOV,PF,PTS,League,Team,Position,Age,Avg_Salary,salary_float,salary_ratio
0,Steven Adams,56,56,28.0,3.4,5.4,.620,0.0,0.1,.000,...,1.4,2.0,7.8,NBA,NOP,C,27,"$25,000,000",25000000.0,0.00338
1,Giannis Antetokounmpo,51,51,33.6,10.3,18.1,.568,1.1,3.6,.301,...,3.6,2.7,28.5,NBA,MIL,F,25,"$25,000,000",25000000.0,0.00338
2,Trevor Ariza,20,17,27.0,2.9,7.3,.393,1.5,4.2,.357,...,0.6,1.7,8.3,NBA,MIA,F,35,"$12,500,000",12500000.0,0.00169
3,Marvin Bagley III,37,37,25.7,5.6,11.2,.502,0.9,2.6,.354,...,1.3,2.4,13.9,NBA,SAC,F,21,"$12,724,946",12724946.0,0.00172
4,Harrison Barnes,57,57,36.5,5.5,11.1,.494,1.7,4.4,.385,...,1.6,1.3,16.0,NBA,SAC,F,28,"$21,250,000",21250000.0,0.00287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,Andrew Wiggins,61,61,33.0,6.8,14.5,.471,2.0,5.1,.382,...,1.8,2.2,18.0,NBA,GSW,F,25,"$29,542,010",29542010.0,0.00399
91,Justise Winslow,20,0,20.1,3.0,8.5,.347,0.3,2.2,.140,...,1.7,2.0,6.7,NBA,MEM,F,24,"$13,000,000",13000000.0,0.00176
92,Christian Wood,37,37,32.0,8.1,15.5,.523,1.8,4.8,.376,...,1.9,2.1,21.0,NBA,HOU,F,25,"$13,666,667",13666667.0,0.00185
93,Thaddeus Young,56,17,24.0,5.5,9.6,.578,0.2,0.6,.278,...,2.0,2.4,12.2,NBA,CHI,F,32,"$14,545,000",14545000.0,0.00197
94,Cody Zeller,38,20,21.0,3.6,6.7,.542,0.1,0.7,.120,...,1.1,2.4,8.9,NBA,CHA,C,27,"$14,000,000",14000000.0,0.00189

## Combine Stats and Salary Data for WNBA 
**Key = "Player**

In [28]:
wnba_df = pd.merge(wnba_salaries, wnba_stats, on='Player')

wnba_df['salary_float'] = wnba_df['Avg_Salary'].str.strip('$').replace(',','', regex=True).astype(float) #create column of salaries as float values
wnba_revenue = float(60000000)
wnba_df['salary_ratio'] = wnba_df['salary_float']/wnba_revenue
wnba_df['salary_ratio'] = wnba_df['salary_ratio'].round(5)

wnba_df

,Player,League,Team,Position,Age,Avg_Salary,G,MP,GS,FG,...,TRB,AST,STL,BLK,TOV,PF,PTS,DRB,salary_float,salary_ratio
0,DeWanna Bonner,WNBA,CON,F,33,"$224,870",22,732,22,6.7,...,7.8,3.0,1.7,0.5,2.4,2.1,19.7,6.3,224870.0,0.00375
1,Skylar Diggins-Smith,WNBA,PHX,G,30,"$224,870",22,675,22,5.8,...,3.3,4.2,0.9,0.5,3.2,2.3,17.7,2.8,224870.0,0.00375
2,Diana Taurasi,WNBA,PHX,G,38,"$224,772",19,533,19,5.1,...,4.2,4.5,1.0,0.4,2.3,2.7,18.7,4.1,224772.0,0.00375
3,Natasha Howard,WNBA,NY,F,29,"$224,675",22,463,22,4.0,...,7.1,1.0,1.7,0.6,2.1,3.0,9.5,4.7,224675.0,0.00374
4,Brittney Griner,WNBA,PHX,C,30,"$221,515",12,382,12,7.3,...,7.5,3.0,0.3,1.8,2.5,2.5,17.7,6.0,221515.0,0.00369
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Astou Ndour,WNBA,CHI,C,26,"$70,040",13,151,7,1.5,...,2.9,0.5,0.2,0.5,0.5,2.2,3.5,1.9,70040.0,0.00117
66,Alexis Prince,WNBA,CHI,G,27,"$70,040",2,16,0,1.5,...,1.5,0.0,0.0,0.5,0.0,0.5,4.0,0.5,70040.0,0.00117
67,Seimone Augustus,WNBA,LA,G,36,"$70,040",21,332,0,2.6,...,1.8,1.2,0.6,0.1,0.4,1.0,5.9,1.7,70040.0,0.00117
68,Nia Coffey,WNBA,LA,F,25,"$70,040",15,230,1,1.1,...,2.5,0.8,0.3,0.3,0.5,2.0,2.7,2.2,70040.0,0.00117
69,Bria Holmes,WNBA,LA,G,27,"$70,040",18,291,4,1.9,...,1.8,1.1,0.7,0.3,1.0,0.9,4.9,1.1,70040.0,0.00117

## Merge NBA and WNBA Data
Once stats were combined with salaries, we were left with: <br>
70 WNBA Players <br>
95 NBA Players <br> 
**Total of 165 unique variables for exploratory analysis**

In [31]:

# combine NBA & WNBA data
all_df = pd.concat([nba_df, wnba_df])

# Create column easy  to sort and compare (float)
all_df = all_df.sort_values('salary_float', ascending=False).reset_index(drop = True)

# Calculated column of Games Played Percentage
all_df['GS%'] = all_df['GS'].astype(float) / all_df['G'].astype(float)

# Player Ranked in order from Highest to Lowest Salary
all_df['Salary_Rank'] = all_df.index + 1

# Drop any rows with null values
all_df = all_df.dropna()
all_df

,Player,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,...,PTS,League,Team,Position,Age,Avg_Salary,salary_float,salary_ratio,GS%,Salary_Rank
0,James Harden,42,42,37.1,8.0,17.2,.463,2.8,7.8,.358,...,25.2,NBA,BKN,G,31,"$42,782,880",42782880.0,0.00578,1.000000,1
1,John Wall,40,40,32.2,7.3,18.2,.404,2.0,6.2,.317,...,20.6,NBA,HOU,G,30,"$42,782,880",42782880.0,0.00578,1.000000,2
2,Russell Westbrook,53,53,35.6,8.3,18.8,.439,1.3,4.1,.315,...,21.8,NBA,WAS,G,31,"$41,358,814",41358814.0,0.00559,1.000000,3
3,Kevin Durant,25,22,32.5,9.4,17.3,.544,2.5,5.4,.467,...,27.5,NBA,BKN,F,32,"$41,063,925",41063925.0,0.00555,0.880000,4
4,Stephen Curry,53,53,34.1,10.2,20.9,.489,5.2,12.1,.427,...,31.3,NBA,GSW,G,32,"$40,231,758",40231758.0,0.00544,1.000000,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,Theresa Plaisance,13,0,90,0.8,2.2,0.379,0.4,1.3,0.294,...,2.5,WNBA,WAS,F,28,"$70,040",70040.0,0.00117,0.000000,159
159,Lexie Brown,17,13,374,2.2,6.5,0.342,0.8,3.1,0.269,...,6.4,WNBA,CHI,G,26,"$70,040",70040.0,0.00117,0.764706,160
162,Seimone Augustus,21,0,332,2.6,5.2,0.491,0.6,1,0.545,...,5.9,WNBA,LA,G,36,"$70,040",70040.0,0.00117,0.000000,163
163,Nia Coffey,15,1,230,1.1,2.5,0.421,0.5,1.4,0.333,...,2.7,WNBA,LA,F,25,"$70,040",70040.0,0.00117,0.066667,164
164,Bria Holmes,18,4,291,1.9,5.4,0.357,0.6,1.7,0.333,...,4.9,WNBA,LA,G,27,"$70,040",70040.0,0.00117,0.222222,165

In [32]:
all_df.to_csv(r'C:\Users\allie\Documents\cs5010\NBAvsWNBA.csv', index = False)