In [18]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
from plotly.offline import plot

### WNBA Salary Data Webscraping
**100 highest paid players for 2020** <br>
*(data from spotrac.com)*

In [19]:
URL = 'https://www.spotrac.com/wnba/rankings/average/'
page = requests.get(URL).text
soup = BeautifulSoup(page, 'lxml')

names= []
for name in soup.find_all('a', class_= 'team-name'):
  names.append(name.get_text())

teams=[]
for team in soup.find_all('div', class_= 'rank-position'):
  teams.append(team.get_text())

avg_salaries=[]
for salaries in soup.find_all('span', class_= 'info'):
  avg_salaries.append(salaries.get_text())

pos= []
pos2= []
for p in soup.find_all('td', class_= 'center small'):
  pos.append(p.get_text())
  
for i in pos:
    j = i.replace(' ','').replace('\n', '')
    pos2.append(j)

age= []
for v in pos2:
    if len(v) % 2 == 0:
        age.append(v)
positions= []
for v in pos2:
    if len(v) % 2 != 0:
        positions.append(v)

wnba= 'WNBA'

wnba_salaries = pd.DataFrame(
    {'Player': names,
     'League' : wnba,
     'Team': teams,
     'Position': positions,
     'Age': age,
     'Avg_Salary': avg_salaries
    })
wnba_salaries

                  Player League   Team Position Age  Avg_Salary
0         DeWanna Bonner   WNBA    CON        F  33  $224,870
1   Skylar Diggins-Smith   WNBA    PHX        G  30  $224,870
2      Elena Delle Donne   WNBA    WAS        F  31  $224,870
3          Diana Taurasi   WNBA    PHX        G  38  $224,772
4         Natasha Howard   WNBA     NY        F  29  $224,675
..                   ...    ...    ...      ...  ..         ...
95         Jazmine Jones   WNBA     NY        G  24   $65,459
96    Jocelyn Willoughby   WNBA     NY        F  23   $65,459
97          Megan Walker   WNBA    PHX        F  22   $65,459
98          Kitija Laksa   WNBA    SEA        G  24   $65,459
99    DiJonai Carrington   WNBA    CON        G  23   $64,457

[100 rows x 6 columns]

### NBA Salary Data Webscraping
**100 highest paid players for 2020** <br>
*(data from spotrac.com)*

In [20]:
URL = 'https://www.spotrac.com/nba/rankings/average/'
page = requests.get(URL).text
soup = BeautifulSoup(page, 'lxml')

men_names= []
for name in soup.find_all('a', class_= 'team-name'):
  men_names.append(name.get_text())

men_teams=[]
for team in soup.find_all('div', class_= 'rank-position'):
  men_teams.append(team.get_text())

men_avg_salaries=[]
for salaries in soup.find_all('span', class_= 'info'):
  men_avg_salaries.append(salaries.get_text())

men_age= []
for a in soup.find_all('td', class_= 'center xs-hide'):
  men_age.append(a.get_text())

men_pos= []
men_pos2= []
for p in soup.find_all('td', class_= 'center', ):
  men_pos.append(p.get_text())

for i in men_pos:
    j = i.replace(' ','').replace('\n', '')
    men_pos2.append(j)

digits= []
men_positions= []
for ps in men_pos2:
  if ps.isdigit():
    digits.append(ps)
  elif ps== '':
    digits.append(ps)
  else:
    men_positions.append(ps)

nba= 'NBA'

nba_salaries = pd.DataFrame(
    {'Player': men_names,
     'League' : nba,
     'Team': men_teams,
     'Position': men_positions,
     'Age': men_age,
     'Avg_Salary': men_avg_salaries
    })
nba_salaries

               Player League   Team Position   Age     Avg_Salary
0           John Wall    NBA    HOU       PG   30   $42,782,880
1        James Harden    NBA    BKN       SG   31   $42,782,880
2   Russell Westbrook    NBA    WAS       PG   31   $41,358,814
3        Kevin Durant    NBA    BKN       SF   32   $41,063,925
4       Stephen Curry    NBA    GSW       PG   32   $40,231,758
..                ...    ...    ...      ...   ...            ...
95       Trevor Ariza    NBA    MIA       SF   35   $12,500,000
96       Kelly Olynyk    NBA    HOU       PF   29   $12,500,000
97        Cory Joseph    NBA    DET       PG   29   $12,400,000
98      Patrick Mills    NBA    SAS       PG   32   $12,000,000
99       Jusuf Nurkic    NBA    POR        C   26   $12,000,000

[100 rows x 6 columns]

### NBA Stats Data Webscraping
**Per-game avgs for 2020-21 season** <br>
*(data from basketballreference.com)*

In [21]:
url = 'https://www.basketball-reference.com/leagues/NBA_2021_per_game.html'
html_doc = requests.get(url)

#parse the html from site:
parsed_html = BeautifulSoup(html_doc.content, 'html.parser')

#extract specific table we are interested in (per-game stats for each player):
table = parsed_html.find(id='per_game_stats')

##Header:
#Locate the table header, extract header values, and store in list:
table_header = table.find('thead') #html 'thead' element contains all header-related data
header_elements = table_header.find_all('th') #store all 'th' (header) elements from 'thead' element 

headers = [] #initialize empty list to later store headers
for header in header_elements:
    item = header.get_text().strip() #extract each header value (text)
    headers.append(item) #append each header value to list
headers


##Body:
#Locate table body, extract data values, and store in list:
table_body = table.find('tbody') #html 'tbody' element contains all body-related data
body_rows = table_body.find_all('tr') #store all 'tr' (row) elements from 'tbody' element 

rows = [] #initialize empty list to later store data rows
for row in body_rows:
    row_header = row.find('th').get_text() #extract the row's header (season)
    items = row.find_all('td') #extract data values from row
    row = [row_header] #initialize list  w/ row header
    for item in items: #iterate through the values of the row and store each in row list
        row.append(item.get_text())
    rows.append(row)
    

nba_stats = pd.DataFrame(rows, columns = headers) 

#Some players (who switched teams mid-year) are duplicated - have a total record and 
#individual records for each team they played for that year.
#Need to delete these duplicated records and include only the "total" entries
nba_stats = nba_stats.drop_duplicates(['Player'])
nba_stats = nba_stats.drop(columns= ['Rk', 'Pos', 'Age', 'Tm', 'eFG%'])


nba_stats

,Player,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Precious Achiuwa,55,3,12.4,2.0,3.8,.541,0.0,0.0,,...,.515,1.3,2.3,3.6,0.5,0.3,0.5,0.7,1.6,5.0
1,Jaylen Adams,7,0,2.6,0.1,1.1,.125,0.0,0.3,.000,...,,0.0,0.4,0.4,0.3,0.0,0.0,0.0,0.1,0.3
2,Steven Adams,54,54,28.1,3.4,5.4,.620,0.0,0.1,.000,...,.442,3.8,5.2,9.0,2.0,0.9,0.7,1.4,2.0,7.8
3,Bam Adebayo,52,52,33.4,7.2,12.7,.568,0.0,0.2,.250,...,.805,2.3,7.0,9.3,5.2,1.0,1.1,2.7,2.3,19.1
4,LaMarcus Aldridge,26,23,25.9,5.4,11.4,.473,1.2,3.1,.388,...,.872,0.7,3.8,4.5,1.9,0.4,1.1,1.0,1.8,13.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,Delon Wright,50,31,26.8,3.5,7.6,.460,0.9,2.4,.372,...,.814,0.9,3.1,4.0,4.2,1.5,0.4,1.1,1.1,9.7
701,Thaddeus Young,54,17,24.1,5.5,9.6,.574,0.2,0.6,.265,...,.631,2.4,3.8,6.2,4.2,1.1,0.6,2.0,2.4,12.2
702,Trae Young,54,54,34.2,7.6,17.8,.429,2.3,6.4,.357,...,.874,0.6,3.3,3.9,9.6,0.9,0.2,4.2,1.9,25.3
703,Cody Zeller,37,20,21.2,3.6,6.7,.540,0.1,0.7,.120,...,.735,2.6,4.4,7.0,1.9,0.6,0.4,1.0,2.4,9.0
704,Ivica Zubac,61,22,22.4,3.6,5.6,.646,0.0,0.0,.000,...,.793,2.7,4.6,7.3,1.2,0.4,0.9,1.1,2.6,9.1

### WNBA Stats data upload (CSV)
**Per-game avgs for 2020 season** <br>
*(data from basketballreference.com)*

In [22]:
wnba_stats = pd.read_csv('/Users/allie/Documents/cs5010/wnba_stats.csv') #Does not have DREB columns (must create)

#Delete the duplicated records and include only the "total" entries for players that were on multiple teams that year
wnba_stats = wnba_stats.drop_duplicates(['Player'])
wnba_stats = wnba_stats.drop(columns= ['Team', 'Pos', 'G.1', 'MP.1'])
wnba_stats['DRB'] = wnba_stats['TRB'] - wnba_stats['ORB']
wnba_stats

,Player,G,MP,GS,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,PTS,DRB
0,Natalie Achonwa,18,364,11,3.2,6.4,0.496,0.0,0.6,0.000,...,0.813,1.4,5.5,1.7,0.5,0.6,1.8,2.6,7.8,4.1
1,Jaylyn Agnew,12,71,0,0.3,1.3,0.267,0.3,1.1,0.231,...,0.800,0.0,0.4,0.3,0.0,0.0,0.4,0.6,1.3,0.4
2,Bella Alarie,22,309,3,1.1,3.0,0.364,0.0,0.6,0.077,...,0.833,1.0,2.9,0.5,0.6,0.8,0.5,1.6,2.7,1.9
3,Kayla Alexander,16,89,0,1.0,1.9,0.533,0.0,0.0,NaN,...,0.625,0.6,0.9,0.2,0.1,0.2,0.4,0.9,2.3,0.3
4,Julie Allemand,22,716,22,2.8,6.1,0.455,2.0,4.2,0.478,...,0.733,0.4,4.5,5.8,1.1,0.4,2.6,2.6,8.5,4.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,Alisia Jenkins,5,28,0,0.4,1.6,0.250,0.0,0.6,0.000,...,0.667,0.0,0.8,0.0,0.0,0.0,0.6,0.6,1.6,0.8
141,Stella Johnson,9,100,2,1.8,3.8,0.471,1.0,1.6,0.643,...,1.000,0.4,1.3,1.3,0.7,0.2,0.4,1.2,5.1,0.9
142,Stephanie Mavunga,10,95,0,1.3,2.9,0.448,0.0,0.5,0.000,...,0.818,1.0,3.3,0.5,0.1,0.2,1.1,1.1,3.5,2.3
143,Erica McCall,20,183,0,0.8,2.3,0.356,0.1,0.2,0.250,...,0.818,1.2,2.5,0.2,0.4,0.4,0.5,1.2,2.6,1.3
144,Shey Peddy,17,257,0,1.1,3.7,0.302,0.2,2.0,0.118,...,1.000,0.5,2.1,1.8,1.1,0.1,0.9,1.3,3.8,1.6

## Combine Stats and Salary Data for NBA 
**Key = "Player**

In [51]:
nba_df = pd.merge(nba_stats, nba_salaries, on= 'Player')
nba_df['Position'] = nba_df['Position'].replace('PF','F', regex=True).replace('SF','F', regex=True)
nba_df['Position'] = nba_df['Position'].replace('PG','G', regex=True).replace('SG','G', regex=True)

nba_df['salary_float'] = nba_df['Avg_Salary'].str.strip('$').replace(',','', regex=True).astype(float) #create column of salaries as float values
nba_revenue = float(7400000000)
nba_df['salary_ratio'] = nba_df['salary_float']/nba_revenue
nba_df['salary_ratio'] = nba_df['salary_ratio'].round(5)
nba_df

,Player,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,...,TOV,PF,PTS,League,Team,Position,Age,Avg_Salary,salary_float,salary_ratio
0,Steven Adams,54,54,28.1,3.4,5.4,.620,0.0,0.1,.000,...,1.4,2.0,7.8,NBA,NOP,C,27,"$25,000,000",25000000.0,0.00338
1,Giannis Antetokounmpo,48,48,33.7,10.4,18.4,.564,1.1,3.6,.297,...,3.7,2.8,28.5,NBA,MIL,F,25,"$25,000,000",25000000.0,0.00338
2,Trevor Ariza,18,15,26.6,2.8,7.2,.385,1.5,4.1,.365,...,0.7,1.6,8.2,NBA,MIA,F,35,"$12,500,000",12500000.0,0.00169
3,Marvin Bagley III,37,37,25.7,5.6,11.2,.502,0.9,2.6,.354,...,1.3,2.4,13.9,NBA,SAC,F,21,"$12,724,946",12724946.0,0.00172
4,Harrison Barnes,56,56,36.4,5.4,11.0,.494,1.6,4.3,.379,...,1.6,1.3,15.9,NBA,SAC,F,28,"$21,250,000",21250000.0,0.00287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,Andrew Wiggins,59,59,32.9,6.8,14.5,.472,2.0,5.2,.379,...,1.8,2.2,18.1,NBA,GSW,F,25,"$29,542,010",29542010.0,0.00399
82,Justise Winslow,18,0,20.6,3.0,8.6,.348,0.3,2.3,.122,...,1.7,1.9,6.8,NBA,MEM,F,24,"$13,000,000",13000000.0,0.00176
83,Christian Wood,36,36,31.9,8.1,15.3,.529,1.8,4.8,.380,...,1.8,2.1,20.9,NBA,HOU,F,25,"$13,666,667",13666667.0,0.00185
84,Thaddeus Young,54,17,24.1,5.5,9.6,.574,0.2,0.6,.265,...,2.0,2.4,12.2,NBA,CHI,F,32,"$14,545,000",14545000.0,0.00197
85,Cody Zeller,37,20,21.2,3.6,6.7,.540,0.1,0.7,.120,...,1.0,2.4,9.0,NBA,CHA,C,27,"$14,000,000",14000000.0,0.00189

## Combine Stats and Salary Data for WNBA 
**Key = "Player**

In [52]:
wnba_df = pd.merge(wnba_salaries, wnba_stats, on='Player')

wnba_df['salary_float'] = wnba_df['Avg_Salary'].str.strip('$').replace(',','', regex=True).astype(float) #create column of salaries as float values
wnba_revenue = float(60000000)
wnba_df['salary_ratio'] = wnba_df['salary_float']/wnba_revenue
wnba_df['salary_ratio'] = wnba_df['salary_ratio'].round(5)

wnba_df

,Player,League,Team,Position,Age,Avg_Salary,G,MP,GS,FG,...,TRB,AST,STL,BLK,TOV,PF,PTS,DRB,salary_float,salary_ratio
0,DeWanna Bonner,WNBA,CON,F,33,"$224,870",22,732,22,6.7,...,7.8,3.0,1.7,0.5,2.4,2.1,19.7,6.3,224870.0,0.00375
1,Skylar Diggins-Smith,WNBA,PHX,G,30,"$224,870",22,675,22,5.8,...,3.3,4.2,0.9,0.5,3.2,2.3,17.7,2.8,224870.0,0.00375
2,Diana Taurasi,WNBA,PHX,G,38,"$224,772",19,533,19,5.1,...,4.2,4.5,1.0,0.4,2.3,2.7,18.7,4.1,224772.0,0.00375
3,Natasha Howard,WNBA,NY,F,29,"$224,675",22,463,22,4.0,...,7.1,1.0,1.7,0.6,2.1,3.0,9.5,4.7,224675.0,0.00374
4,Brittney Griner,WNBA,PHX,C,30,"$221,515",12,382,12,7.3,...,7.5,3.0,0.3,1.8,2.5,2.5,17.7,6.0,221515.0,0.00369
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Mikiah Herbert Harrigan,WNBA,SEA,F,22,"$68,339",21,234,0,1.4,...,2.3,0.3,0.4,0.4,0.7,1.0,3.8,1.6,68339.0,0.00114
71,Ruthy Hebard,WNBA,CHI,F,22,"$68,339",22,320,6,2.6,...,3.9,0.3,0.5,0.4,0.7,1.6,5.7,3.1,68339.0,0.00114
72,Jazmine Jones,WNBA,NY,G,24,"$65,459",20,428,2,3.5,...,4.1,2.3,1.4,0.5,2.9,3.0,10.8,3.2,65459.0,0.00109
73,Jocelyn Willoughby,WNBA,NY,F,23,"$65,459",22,383,5,1.8,...,2.4,0.9,0.7,0.3,1.5,2.3,5.8,1.7,65459.0,0.00109
74,Megan Walker,WNBA,PHX,F,22,"$65,459",18,205,0,1.4,...,1.5,0.3,0.2,0.0,0.4,0.8,3.3,0.9,65459.0,0.00109

## Merge NBA and WNBA Data
Once stats were combined with salaries, we were left with: <br>
75 WNBA Players <br>
86 NBA Players <br> 
**Total of 161 unique variables for exploratory analysis**

In [53]:

all_df = pd.concat([nba_df, wnba_df])#combine NBA & WNBA data
all_df = all_df.sort_values('salary_float', ascending=False).reset_index(drop = True)
all_df['Salary_Rank'] = all_df.index + 1
all_df

,Player,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,...,PF,PTS,League,Team,Position,Age,Avg_Salary,salary_float,salary_ratio,Salary_Rank
0,John Wall,39,39,32.0,7.3,18.1,.403,2.0,6.2,.322,...,1.1,20.4,NBA,HOU,G,30,"$42,782,880",42782880.0,0.00578,1
1,James Harden,42,42,37.1,8.0,17.2,.463,2.8,7.8,.358,...,2.3,25.2,NBA,BKN,G,31,"$42,782,880",42782880.0,0.00578,2
2,Russell Westbrook,51,51,35.6,8.2,18.9,.436,1.3,4.1,.310,...,2.8,21.6,NBA,WAS,G,31,"$41,358,814",41358814.0,0.00559,3
3,Kevin Durant,24,22,32.7,9.3,17.1,.543,2.5,5.5,.462,...,2.0,27.3,NBA,BKN,F,32,"$41,063,925",41063925.0,0.00555,4
4,Stephen Curry,51,51,34.1,10.2,21.0,.486,5.1,12.1,.425,...,1.8,31.1,NBA,GSW,G,32,"$40,231,758",40231758.0,0.00544,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,Mikiah Herbert Harrigan,21,0,234,1.4,3.9,0.366,0.7,1.6,0.424,...,1,3.8,WNBA,SEA,F,22,"$68,339",68339.0,0.00114,157
157,Ruthy Hebard,22,6,320,2.6,3.9,0.682,0,0,NaN,...,1.6,5.7,WNBA,CHI,F,22,"$68,339",68339.0,0.00114,158
158,Jazmine Jones,20,2,428,3.5,8.6,0.404,0.8,2.3,0.333,...,3,10.8,WNBA,NY,G,24,"$65,459",65459.0,0.00109,159
159,Jocelyn Willoughby,22,5,383,1.8,5,0.358,0.7,1.7,0.405,...,2.3,5.8,WNBA,NY,F,23,"$65,459",65459.0,0.00109,160
160,Megan Walker,18,0,205,1.4,4.3,0.321,0.3,2.4,0.14,...,0.8,3.3,WNBA,PHX,F,22,"$65,459",65459.0,0.00109,161

In [54]:
all_df.to_csv(r'C:\Users\allie\Documents\cs5010\NBAvsWNBA.csv', index = False)

### Six WNBA Teams have matchups with NBA teams:

Brooklyn Nets and New York Liberty <br>
Indiana Pacers and Fever <br>
LA Lakers and Sparks <br>
Minnesota Timberwolves and Lynx <br>
Phoenix Suns and Mercury <br>
Washington Wizards and Mystics


### Old Matchups:
Liberty and New York Knicks <br>
San Antonio Spurs and Stars
Seattle Storm and SuperSonics (Now OKC)

### This is Jake's Code-- It looked like it would work Better with the League's Separated

In [55]:
import pandas as pd
desired_width = 320
pd.set_option('display.width', desired_width)
pd.set_option('display.max_columns', 33)
import numpy as np
import sklearn as linear_model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import sklearn.feature_selection
from sklearn.metrics import r2_score, mean_squared_error

In [72]:
class linearModel:
    def __init__(self, df):
        self.stats = df
        
    def prepare_data(self):
        #import pdb; pdb.set_trace()
        self.stats = self.stats.dropna()
        self.stats = self.stats.iloc[:,1:] #I CHANGED THIS -- DID I CHOOSE THE RIGHT COLUMNS?
        self.stats = self.stats.drop(['Avg_Salary'], axis=1)
        return self.stats
    
    def train_test_split(self):
        self.X_train, self.X_test, self.Y_train, self.Y_test = train_test_split(self.stats.iloc[:, :22], self.stats['salary_float'], 
        test_size=0.2, random_state=4)

    def create_model(self):
        self.model = LinearRegression().fit(self.X_train, self.Y_train)
        
    def feature_selection(self, direction=None):
        sfs = SequentialFeatureSelector(self.model, n_features_to_select=5, direction=direction)
        self.sfs = sfs.fit(self.X_train, self.Y_train)
        self.X_train_columns = self.X_train.columns[sfs.get_support()]
        self.X_test_columns = self.X_test.columns[sfs.get_support()]
        self.X_train = self.X_train[self.X_train_columns]
        self.X_test = self.X_test[self.X_test_columns]
        self.model = LinearRegression().fit(self.X_train, self.Y_train)

    def predict(self):
        self.y_pred = self.model.predict(self.X_test)

    def calc_r_squared(self):
        self.r_squared = r2_score(self.Y_test, self.y_pred)

    def calc_r_squared_adjusted(self, r_squared):
        num_pred = len(self.X_train)
        pred = len(self.X_train.columns)
        r_squared = abs(r_squared)
        import pdb; pdb.set_trace()
        r_squared_adjusted = 1 - ((1-r_squared)*(num_pred-1)/(num_pred-pred-1))

        return r_squared_adjusted

In [73]:
model = linearModel(nba_data)
model.prepare_data()
model.train_test_split()
#This is throwing the error-- not sure why Think I have the wrong columns picked
model.create_model()
model.predict()
model.calc_r_squared()
print('Full model R Squared Valued: ' + str(model.r_squared))

ValueError: could not convert string to float: ''

In [69]:
forward_model = linearModel(nba_data)
forward_model.prepare_data()
forward_model.train_test_split()
forward_model.create_model()
forward_model.feature_selection('forward')
forward_model.predict()
forward_model.calc_r_squared()
print('Foward model R Squared value: ' + str(forward_model.r_squared))

     G  GS    MP    FG   FGA   FG%   3P  3PA   3P%   2P   2PA   2P%   FT  FTA   FT%  ORB  DRB   TRB  AST  STL  BLK  TOV   PF   PTS
0   54  54  28.1   3.4   5.4  .620  0.0  0.1  .000  3.4   5.4  .626  1.1  2.4  .442  3.8  5.2   9.0  2.0  0.9  0.7  1.4  2.0   7.8
1   48  48  33.7  10.4  18.4  .564  1.1  3.6  .297  9.3  14.7  .630  6.8  9.8  .688  1.7  9.4  11.2  6.0  1.1  1.3  3.7  2.8  28.5
2   18  15  26.6   2.8   7.2  .385  1.5  4.1  .365  1.3   3.1  .411  1.2  1.6  .750  0.7  3.5   4.2  1.7  0.7  0.6  0.7  1.6   8.2
3   37  37  25.7   5.6  11.2  .502  0.9  2.6  .354  4.7   8.6  .547  1.6  2.9  .560  2.5  5.0   7.4  0.9  0.5  0.5  1.3  2.4  13.9
4   56  56  36.4   5.4  11.0  .494  1.6  4.3  .379  3.8   6.7  .568  3.4  4.1  .827  1.1  5.5   6.6  3.5  0.8  0.2  1.6  1.3  15.9
..  ..  ..   ...   ...   ...   ...  ...  ...   ...  ...   ...   ...  ...  ...   ...  ...  ...   ...  ...  ...  ...  ...  ...   ...
81  59  59  32.9   6.8  14.5  .472  2.0  5.2  .379  4.9   9.3  .524  2.4  3.5  .701  1.0  3.8   4.8  2.3  1.0  0.9  1.8  2.2  18.1
82  18   0  20.6   3.0   8.6  .348  0.3  2.3  .122  2.7   6.3  .430  0.6  1.0  .556  0.7  3.7   4.4  1.8  0.7  0.4  1.7  1.9   6.8
83  36  36  31.9   8.1  15.3  .529  1.8  4.8  .380  6.3  10.6  .596  2.9  4.6  .628  1.7  7.6   9.3  1.5  0.9  1.3  1.8  2.1  20.9
84  54  17  24.1   5.5   9.6  .574  0.2  0.6  .265  5.4   9.0  .596  1.0  1.6  .631  2.4  3.8   6.2  4.2  1.1  0.6  2.0  2.4  12.2
85  37  20  21.2   3.6   6.7  .540  0.1  0.7  .120  3.5   6.0  .587  1.6  2.2  .735  2.6  4.4   7.0  1.9  0.6  0.4  1.0  2.4   9.0

[86 rows x 24 columns]

In [75]:
backward_model = linearModel(nba_df)
backward_model.prepare_data()
backward_model.train_test_split()
backward_model.create_model()
backward_model.feature_selection('backward')
backward_model.predict()
backward_model.calc_r_squared()
print('Backward model R Squared value: ' + str(backward_model.r_squared))

ValueError: could not convert string to float: ''

In [62]:
#nba_df.iloc[:,1:25]
#nba_df

                   Player   G  GS    MP    FG   FGA   FG%   3P  3PA   3P%   2P   2PA   2P%   FT  FTA   FT%  ORB  DRB   TRB  AST  STL  BLK  TOV   PF   PTS League   Team Position   Age     Avg_Salary  salary_float  salary_ratio
0            Steven Adams  54  54  28.1   3.4   5.4  .620  0.0  0.1  .000  3.4   5.4  .626  1.1  2.4  .442  3.8  5.2   9.0  2.0  0.9  0.7  1.4  2.0   7.8    NBA    NOP        C   27   $25,000,000      25000000.0       0.00338
1   Giannis Antetokounmpo  48  48  33.7  10.4  18.4  .564  1.1  3.6  .297  9.3  14.7  .630  6.8  9.8  .688  1.7  9.4  11.2  6.0  1.1  1.3  3.7  2.8  28.5    NBA    MIL        F   25   $25,000,000      25000000.0       0.00338
2            Trevor Ariza  18  15  26.6   2.8   7.2  .385  1.5  4.1  .365  1.3   3.1  .411  1.2  1.6  .750  0.7  3.5   4.2  1.7  0.7  0.6  0.7  1.6   8.2    NBA    MIA        F   35   $12,500,000      12500000.0       0.00169
3       Marvin Bagley III  37  37  25.7   5.6  11.2  .502  0.9  2.6  .354  4.7   8.6  .547  1.6  2.9  .560  2.5  5.0   7.4  0.9  0.5  0.5  1.3  2.4  13.9    NBA    SAC        F   21   $12,724,946      12724946.0       0.00172
4         Harrison Barnes  56  56  36.4   5.4  11.0  .494  1.6  4.3  .379  3.8   6.7  .568  3.4  4.1  .827  1.1  5.5   6.6  3.5  0.8  0.2  1.6  1.3  15.9    NBA    SAC        F   28   $21,250,000      21250000.0       0.00287
..                    ...  ..  ..   ...   ...   ...   ...  ...  ...   ...  ...   ...   ...  ...  ...   ...  ...  ...   ...  ...  ...  ...  ...  ...   ...    ...    ...      ...   ...            ...           ...           ...
81         Andrew Wiggins  59  59  32.9   6.8  14.5  .472  2.0  5.2  .379  4.9   9.3  .524  2.4  3.5  .701  1.0  3.8   4.8  2.3  1.0  0.9  1.8  2.2  18.1    NBA    GSW        F   25   $29,542,010      29542010.0       0.00399
82        Justise Winslow  18   0  20.6   3.0   8.6  .348  0.3  2.3  .122  2.7   6.3  .430  0.6  1.0  .556  0.7  3.7   4.4  1.8  0.7  0.4  1.7  1.9   6.8    NBA    MEM        F   24   $13,000,000      13000000.0       0.00176
83         Christian Wood  36  36  31.9   8.1  15.3  .529  1.8  4.8  .380  6.3  10.6  .596  2.9  4.6  .628  1.7  7.6   9.3  1.5  0.9  1.3  1.8  2.1  20.9    NBA    HOU        F   25   $13,666,667      13666667.0       0.00185
84         Thaddeus Young  54  17  24.1   5.5   9.6  .574  0.2  0.6  .265  5.4   9.0  .596  1.0  1.6  .631  2.4  3.8   6.2  4.2  1.1  0.6  2.0  2.4  12.2    NBA    CHI        F   32   $14,545,000      14545000.0       0.00197
85            Cody Zeller  37  20  21.2   3.6   6.7  .540  0.1  0.7  .120  3.5   6.0  .587  1.6  2.2  .735  2.6  4.4   7.0  1.9  0.6  0.4  1.0  2.4   9.0    NBA    CHA        C   27   $14,000,000      14000000.0       0.00189

[86 rows x 32 columns]